.item {
  margin-bottom: 0.8rem;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.icon {
  height: 1.7rem;
  display: block;
  margin-right: 1rem;
  background-color: var(--color-white-linen);
  padding: 0.4rem;
  border-radius: 0.8rem;
}
