.course {
  display: block;
  padding: 1rem;
  background-color: var(--color-dawn-pink);
  border-radius: 0 0.75rem 0.75rem 0;
}

.course:hover,
.course:active {
  background-color: var(--color-almond);
}
