.course {
  display: flex;
  background-color: var(--color-dawn-pink);
  border-radius: 0 0.75rem 0.75rem 0;
}

.course:hover .container,
.course:active .container {
  background-color: var(--color-almond);
}

.container {
  display: block;
  padding: 1rem;
  background-color: var(--color-dawn-pink);
  width: 100%;
}

.img {
  display: block;
}

.title {
  font-weight: 700;
}
