:root {
  --color-dawn-pink: #f2e8df;
  --color-vista-white: #fcfaf7;
  --color-white-linen: #f9f2ec;
  --color-swirl: #d7cdc4;
  --color-santa-fe: #b26b4d;
  --color-espresso: #5e2d1a;
}

#root {
  display: flex;
  background-color: var(--color-santa-fe);
  width: 100%;
  min-height: 100vh;
  color: var(--color-espresso);
}

aside {
  width: 12.5rem;
  background-color: var(--color-dawn-pink);
  padding: 3.5rem 1rem;
  flex-shrink: 0;
}

main {
  background-color: var(--color-white-linen);
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  flex-grow: 1;
  border-radius: 0 1.5rem 1.5rem 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-espresso);
  text-decoration: inherit;
  font-weight: 500;
}
