#root {
  display: flex;
  background-color: #f2e8df;
  width: 100%;
  min-height: 100vh;
  color: #5e2d1a;
}

aside {
  width: 12.5rem;
  background-color: #fcfaf7;
  padding: 3.5rem 1rem;
}

main {
  background-color: #f9f2ec;
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  flex-grow: 1;
  border-radius: 0 1.5rem 1.5rem 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
